# Data Science Tools Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List  some Open source Data Science tools
- Create arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C++

Some of the commonly used libraries used by Data Scientists include:
1. Mathplotlib 
2. Panda 
3. Numpy
4. TensorFlow

| Data Science Tools |
| :- |
| GitHub |
| Apache Spark |
| PostgreSQL |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Dang Quang Ha